<VirtualHost *:80>
ServerName cona.nalapl3.pl
DocumentRoot /home/glue/txoffer

CustomLog /access_cona.log combined
ErrorLog /error_cona.log
LogLevel warn

<Directory />
    AllowOverride All
    Order allow,deny
    Allow from all
</Directory>

ProxyPreserveHost On
ProxyPass / http://0.0.0.0:8092/
ProxyPassReverse / http://0.0.0.0:8092/

</VirtualHost>
